<mat-card appearance="outlined">
  <mat-expansion-panel
    (opened)="panelOpenState.set(true)"
    (closed)="panelOpenState.set(false)"
  >
    <mat-expansion-panel-header>
      <mat-panel-title> {{ itemTitle() }}</mat-panel-title>
      <p>Data de validade: {{ itemDataDeValidade() }}</p>
      <mat-panel-description>
        <button mat-button>Editar</button>
        <button mat-button>Deletar</button>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>Preço: {{ itemPreco() | currency }}</p>
    <p>É perecível? {{ itemPerecivel() ? "sim" : "não" }}</p>
    <p>Quantidade: {{ itemQuantidade() }}{{ itemUnidadeDeMedida() }}</p>
    <p>Data de fabricação: {{ itemDataDeFabricacao() }}</p>
  </mat-expansion-panel>
</mat-card>
